---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import SectionLink from "../components/SectionLink.astro";
import { truncateText } from "../utils";

const posts = (await getCollection("posts")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <section class="max-w-5xl space-y-12 p-12 m-auto">
        {
          posts.map((post) => {
            return (
              <div class="space-y-4">
                <SectionLink href={`/posts/${post.slug}/`}>
                  {post.data.title}
                </SectionLink>
                <a href={`/posts/${post.slug}/`}>
                  <img src={post.data.heroImage} class="rounded-lg" />
                </a>
                <p>{post.data.description}</p>
              </div>
            );
          })
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
